html{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    color: grey;
    background-color: lightgrey;
    margin: auto;
    padding: 1rem;
}

header a{
    text-decoration: none;
    margin-inline: 10px;
    color: grey;
}

ol{
    border: solid grey 1px;
    padding: 10px;
}

.gallery img{
    height: 300px;
    width: 250px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}